
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  }



#btnOnlMsg{
  width: 80px;
  height: 80px;
  background-color: green;
  border-radius: 80px;
  border: 1px solid white;
  color: white;
  font-size: x-large;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 3;
  visibility: hidden;

}

#messageAlert{
  width: auto;
  min-width: 200px;
  height: auto;
  background-color:orange;
  border-radius: 50px;
  border-top-right-radius: 0px;
  color: white;
  font-weight: 900;
  font-size:large;
  position: fixed;
  right: 100px;
  bottom: 25px;
  padding: 1%;
  cursor: pointer;
  visibility: hidden;
 
}

#messageBox{
  width: 400px;
  height: 700px;
  background-color: whitesmoke;
  border-radius: 50px;
  color: white;
  font-size:medium;
  position: fixed;
  right: 40px;
  bottom: 50px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
background-color: bisque;
  
}

#messageBoxControl{
  background-color: green;
  width: 100%;
  height: 10%;
  border: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 20px;
  font-size: 1.2rem;
  

}

#messageBoxControl button{
  width: 40px;
  height: 40px;
  font-size: large;
    background: rgba(19, 19, 19, 0.084);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0 auto;
  cursor: pointer;
  
  
}
#messageBoxControl button:hover{
  
  background: rgba(19, 19, 19, 0.300);
}





#messageBoxContent{
  padding: 5%;
width: 100%;
height: 83%;
display: flex;
flex-direction: column;
overflow-y: scroll;

}

.messageLine{
  width: 80%;
  height: auto;
  margin-bottom: 5%;
  border: none;
  border-radius: 40px;
  background-color:white;
  color: black;
  font-size: 1.2rem;
  padding: 2% 0% 3% 6%;

}

#messageSend
{
  width: 100%;
  height: 7%;
  border-radius: 50px;
  border: none;
  font-size: larger;
  background-color: green;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 2%;
  align-items:center;
  justify-content: space-around;
}
#btnEmoji{
  width: 10%;
  height: 80%;
  border-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;
  background: none;
  cursor: pointer;
}
#btnPlus{
  width: 10%;
  height: 80%;
  border-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;
  background: none;
  cursor: pointer;
}

#txtMessage{
  width: 65%;
  height: 80%;
  border-radius: 1900px;
  border: none;
  font-size: 1.1rem;
  padding: 1.5% 0% 0% 3%;
}
#btnSend{
  width: 10%;
  height: 80%;
  border-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;
  background: none;
  cursor: pointer;
}



